* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 175%;
  margin-bottom: 10px;
  text-align: center;
}

.box {
  border: 1px black solid;
  background-color: gray;
  margin: 10px;
  position: relative;
}

p {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  margin: auto;
  padding: 10px 20px 10px 20px;
  color: white;
  font-size: 125%;
  font-weight: bold;
  float: right;
}

.p1 {
  background-color: red;
}

.p2 {
  background-color: green;
}

.p3 {
  background-color: blue;
}

section {
  padding: 10px;
  clear: both;
  overflow: auto;
  height: 165px;
}

/********** Desktop devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}

/********** Tablet devices only *********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;
    width: 50%;
  }
  .col-md-12 {
    float: left;
    width: 100%;
  }
}

/********** End Media Devices **********/